<div class="container">
    <div class="form-box">
        <form>
            <h2>Calculator</h2>
            <label for="number01">Número 1</label>
            <input type="number" name="number01" id="number01" />

            <label for="number02">Número 2</label>
            <input type="number" name="number02" id="number02" />

            <button type="button" (click)="ResultCalc()">Somar</button>
        </form>

        <div class="result-display">
            <p>Resultado: <span id="result">{{ result }}</span></p>
        </div>
    </div>
</div>
