<div class="container">
    <h1>Lista de Compras</h1>

    <form class="add-item-form" #shopListForm="ngForm" (ngSubmit)="addItemToList()">
        <input type="text" id="item" placeholder="Digite o nome do item" [(ngModel)]="newItem" name="item"/>
        <button type="submit">Adicionar</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Item</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for( element of list; track element.id) {
                <tr>
                    <td>{{ element.id }}</td>
                    <td><span [ngClass]="{ 'item-risked' : element.itsPurchased }">{{ element.name }}</span></td>
                    <td><input type="checkbox"
                               (click)="riskItem(element)" 
                               [checked]="element.itsPurchased"/>
                    </td>
                </tr>
            } @empty {
                <tr colspan="3">
                    Nenhum item adicionado.
                </tr>
            }
        </tbody>
    </table>
</div>
